##Xcode
#BuildFile
build/
DerivedData

#PrivateSetting
*.pbxuser
*mode1v3
*mode2v3
*perspectivev3
*moved-aside
*xcuserstate
*xccheckout

#DefaultSetting
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

#CustomScheme
PyConJP2016.xcodeproj/xcuserdata
PyConJP2016.xcworkspace/xcuserdata

#Bundler
Gemfile.lock

##cocoaPods
Pods/*
Podfile.lock
!default.xcworkspace
*.xcworkspace

#Carthage
Carthage/*
Cartfile.resolved

##AppCode
.idea

##OSX
.DS_Store
