# Xcode
## Build generated
build/
DerivedData/

## Various settings
xcuserdata/

## Private setting
*.pbxuser
*mode1v3
*mode2v3
*perspectivev3

## Default setting
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## CustomScheme
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata

# Bundler
.bundle
Gemfile.lock
vendor

# CocoaPods
Pods/*
Podfile.lock
!default.xcworkspace
*.xcworkspace

# Carthage
Carthage/*
Cartfile.resolved

# fastlane
#fastlane/*
!fastlane/Fastfile

# AppCode
## User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

## Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# macOS
.DS_Store
.AppleDouble
.LSOverride

