# Xcode
## BuildFile
build/
DerivedData

## PrivateSetting
*.pbxuser
*mode1v3
*mode2v3
*perspectivev3
*moved-aside
*xcuserstate
*xccheckout

## DefaultSetting
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

## CustomScheme
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata

## Bundler
.bundle/*
Gemfile.lock
vendor/*

## CocoaPods
Pods/*
Podfile.lock
!default.xcworkspace
*.xcworkspace

## Carthage
Carthage/*
Cartfile.resolved

## fastlane
fastlane/*
!fastlane/Fastfile

##AppCode
.idea

##OSX
.DS_Store
