# PyCon JP use Library
github "ishkawa/APIKit" ~> 3.0
github "antitypical/Result" ~> 3.0
github "Alamofire/Alamofire" ~> 4.0
github "Alamofire/AlamofireImage" ~> 3.0
github "realm/realm-cocoa" ~> 2.0
